name: Test Compilation for Nix

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: get_branch

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Cachix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build
        run: |
          nix build
